@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

/* ----- Base Styles ----- */
body {
  font-size: 1.6rem;
  line-height: 1.5;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  width: 100%;
  height: 100vh;
  background-color: rgb(60, 86, 205);
  padding: 10px;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

/* ----- Header Styles ----- */
.header {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.header h1 {
  font-size: 3rem;
  font-weight: 700;
}

.header img {
  width: 50px;
}

/* ----- Form Styles ----- */
form {
  margin-bottom: 25px;
}

.form-control {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: rgb(205, 201, 201);
  border-radius: 30px;
  padding-left: 10px;
}

.form-control input {
  flex: 1;
  height: 100%;
  font-size: 1.6rem;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  color: #000;
  outline: none;
  border: none;
  background-color: transparent;
  padding: 12px;
}

.form-control input::placeholder {
  color: #000;
}

.form-control .add-btn {
  border: none;
  outline: none;
  padding: 16px 45px;
  background-color: rgb(55, 125, 246);
  font-size: 1.6rem;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  color: #fff;
  border-radius: 30px;
  cursor: pointer;
}

/* ----- Todo List Styles ----- */
ul li {
  font-size: 1.8rem;
  padding: 12px 8px 12px 50px;
  cursor: pointer;
  position: relative;
}

ul li::before {
  content: "";
  position: absolute;
  height: 28px;
  width: 28px;
  background: url("./img/unchecked.png");
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  top: 12px;
  left: 8px;
}

ul li.checked {
  color: #555;
  text-decoration: line-through;
}

ul li.checked::before {
  background: url("./img/checked.png");
  background-size: cover;
  background-position: center;
}

/* ----- Utility Classes ----- */
.container {
  width: 100%;
  max-width: 600px;
  background-color: #fff;
  margin: 100px auto 20px;
  padding: 40px 30px 70px;
  border-radius: 20px;
}
